@font-face {
    font-family: yekan;
    font-weight: normal;
    src: url("../fonts/BYekan.ttf");
}

@font-face {
    font-family: yekan;
    font-weight: bold;
    src: url("../fonts/BYekanBold.ttf");
}
body {
    font-family: yekan;
}